.chat-list__container {
  width: 30%;
  height: 100%;
  background-color: var(--color-terciary);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.search-bar__container {
  min-height: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-primary);
  margin: 1rem 2rem;
  border-radius: 8px;
  overflow: hidden;
}
.search-bar__search-icon {
  min-height: 18px;
  height: 18px;
  padding-left: 0.5rem;
  object-fit: cover;
  object-position: center;
}
.search-bar__input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.chat-list__users {
  border-top: 1px solid rgba(128, 128, 128, 0.303);
  padding: 1rem;
  min-height: 10%;
  overflow-y: auto;
  overflow-x: hidden;
}
