.chat__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.message-room__message-container {
  width: 100%;
  height: auto;
  margin: 70px 0;
  padding-bottom: 2rem;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.input__container {
  width: 100%;
  height: 70px;
  padding: 1.5rem 4rem;
  background-color: #202c33;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.input__container .input_text {
  width: 60%;
  border: none;
  border-radius: 10px;
  padding-left: 2rem;
  outline: none;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, .3);
  color: white;
}

.input__container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input__container .input_submit {
  width: 5rem;
  margin-left: 2rem;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, .7);
}

.message__container--sent {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: white;
}

.container__item--sent {
  padding: 1rem 2rem;
  background-color: green;
  border-radius: 10px;
  position: relative;
}

.container__item--received {
  padding: 1rem 2rem;
  background-color: gray;
  border-radius: 10px;
  position: relative;
}

.message__container--received {
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: white;
}

.chatDetail__container {
  width: 100%;
  height: 70px;
  padding: 0 2rem;
  background-color: #202c33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.userDetail__container {
  display: flex;
  align-items: center;
}

.userDetail__name {
  margin-left: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.chatDetail__options {
  display: flex;
  align-items: center;
}