.select-avatar__container {
  width: 100%;
}
h4 {
  font-size: 1.8rem;
}
.select-avatar__wrapper {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.select-avatar__item {
  width: auto;
  flex: 1 1 33.3%;
}
.select-avatar__item input[type="radio"] {
  display: none;
}
.select-avatar__item input[type="radio"]:checked + img {
  border: 2px solid var(--color-background-input);
  border-radius: 50%;
  transform: scale(1.4);
}
.select-avatar__item img {
  height: 45px;
  transition: transform 200ms ease;
}
.select-avatar__item img:hover {
  transform: scale(1.2);
}
.select-avatar__error-message {
  width: 100%;
  color: red;
  font-size: 1rem;
}
