.chat-list__container {
  width: 30%;
  height: 100%;
  background-color: #182229;
}
.user__container{
  width: 100%;
  background-color: #111b21;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-nickname{
  color: white;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar__container ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__container ul li{
  list-style: none;
  margin-left: .5rem;
  color: white;
}
.search-bar__container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a3942;
  margin: 1rem 2rem 0;
  border-radius: 10px;
  overflow: hidden;
}
.search-bar__search-icon {
  display: block;
  height: 30px;
  width: 30px;
  background-color: #3648536f;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;

}
.search-bar__input {
  height: 100%;
  width: auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.chat-list__users {
  padding: 1rem ;
  min-height: 10%;
  max-height: 80%;
  overflow: auto;
}
.chat__item {
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border: 1px solid grey;
}
.chat__item:hover {
  background-color: grey;
}
.chat__item span {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
}
.new-chat__container {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem ;
  display: flex;
  align-items: center;
  border: 2px dashed grey;
}
.new-chat__input-text {
  background-color: transparent;
  width: 12rem;
  color: white;
  font-weight: 600;
  margin-left: 2rem;
  padding-bottom: .5rem ;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px dashed gray;
}