.chat-item__container {
  padding: 1rem 0;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.303);
  justify-content: flex-start;
  cursor: pointer;
}
.chat-item__container:hover {
  background-color: var(--color-background-input);
}
.chat-item__container span {
  margin-left: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-info__username span {
  color: white;
  font-size: 1.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-info__last-msg span {
  font-size: 1.4rem;
  color: #8696a0;
  text-overflow: ellipsis;
  overflow: hidden;
}
