.new-chat__container {
  min-height: 70px;
  margin: 2rem 1rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed var(--color-gray-light);
}
.new-chat__input-text {
  flex: 1;
  background-color: transparent;
  width: 60%;
  color: white;
  font-weight: 600;
  margin: 0 2rem 0 1rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-gray-light);
  padding: 0.5rem;
}
.new-chat__submit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
