.header-chat-room__container {
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--color-terciary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.header-chat__partner {
  display: flex;
  align-items: center;
}

.partner__name {
  margin-left: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}